<div class="side-bar-header">
  <div class="header-name">
    <% if current_user %>
      <%= link_to current_user.name, edit_user_path(current_user) %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </div>
  <div class="create-train">
    <%= link_to "路線名を作成する", new_train_path %>
  </div>
</div>

<div class="trains">
  <% Train.all.each do |train| %>
    <div class="train">
      <div class="train-name">
        <%= link_to train.trainname.name, train_messages_path(train) %></a>
      </div>
    </div>
  <% end %>
</div>

