<div class="side-bar-header">
  <div class="header-name">
    <% if current_user %>
      <%= link_to current_user.name, edit_user_path(current_user) %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </div>
  <div class="create-train">
    <a href="#">路線名を作成する</a>
  </div>
</div>

<div class="trains">
  <div class="train">
    <div class="train-name">
      <a href="#">JR</a>
    </div>
  </div>
  <div class="train">
    <div class="train-name">
      <a href="#">山手線</a>
    </div>
  </div>
</div>